@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", "san-serif";
  height: 100vh;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: steelblue;
  overflow: hidden;
}
.container {
  max-width: 20rem;
  min-height: 20rem;
  flex-direction: column;
  background-color: rgba(35, 58, 88, 0.692);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 2rem;
}

h1 {
  /* align-self: flex-start; */
  margin-top: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
